<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tablero"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name="com.example.tablero.MainActivity"
            android:exported="false" />
        <!-- Pantalla de inicio (Splash) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Galería principal -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Selector de imagen con formulario -->
        <activity
            android:name=".ImageSelectorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Subida de imagen -->
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>